{% load widget_tweaks %}
<div class="form-step hidden h-full flex-col justify-between items-stretch">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-convenio" file=pagaduria.pathConvenio name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.convenio.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    📄{{ form.convenio.label }}
                </label>
                {{ form.convenio|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>
            
            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-formularioVinculacion" file=pagaduria.pathFormulariovinculacion name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.formulariovinculacion.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    📝 {{ form.formulariovinculacion.label }}
                </label>
                {{ form.formulariovinculacion|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-tarjetasFirmas" file=pagaduria.pathTajetasfirma name=pagaduria.nombre %}    
                {% endif %}
                <label for="{{ form.tarjetasFirma.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    ✒️ {{ form.tarjetasFirma.label }}
                </label>
                {{ form.tarjetasFirma|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-rut" file=pagaduria.pathRut name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.rut.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    📑 {{ form.rut.label }}
                </label>
                {{ form.rut|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-camaraComercio" file=pagaduria.pathCamaraComercio name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.camaraComercio.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    🏢 {{ form.camaraComercio.label }}
                </label>
                {{ form.camaraComercio|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-estadosFinancieros" file=pagaduria.pathEstadosFinancieros name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.estadosFinancieros.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    📊 {{ form.estadosFinancieros.label }}
                </label>
                {{ form.estadosFinancieros|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-form.declaracionRenta" file=pagaduria.pathDeclaracionRenta name=pagaduria.nombre %}                
                {% endif %}
                <label for="{{ form.declaracionRenta.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    💰 {{ form.declaracionRenta.label }}
                </label>
                {{ form.declaracionRenta|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-form.centrales" file=pagaduria.pathCentrales name=pagaduria.nombre %}                
                {% endif %}
                <label for="{{ form.centrales.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    ⚠️ {{ form.centrales.label }}
                </label>
                {{ form.centrales|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>

            <div id="div-modify" class="flex flex-col mt-5 relative border border-slate-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-shadow duration-200">
                {% if type != "nuevo" %}
                    {% include "components/card_document_modify.html" with id="bt-form.composicionAccionaria" file=pagaduria.pathComposicionAccionaria name=pagaduria.nombre %}
                {% endif %}
                <label for="{{ form.composicionAccionaria.id_for_label }}" class="text-sm font-semibold text-[#38407a] mb-1">
                    👥 {{ form.composicionAccionaria.label }}
                </label>
                {{ form.composicionAccionaria|add_class:"bg-white border border-slate-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#2f3769] focus:border-[#2f3769] transition-all duration-200" }}
            </div>
        </div>
    <div class="flex justify-between mt-6">
        <button type="button" class="prev-btn">⬅️ Anterior</button>
        {% if type == "nuevo" %}
            <button type="submit" class="submit-btn">✅ Crear Pagaduría</button>    
        {% else %}
            <button type="button" class="next-btn">Siguiente ➡️</button>
        {% endif %}
    </div>
</div>

<dialog id="dialog" class="w-screen h-screen">
    <button id="closeDialogBtn" class="absolute top-3 right-6 z-50 w-32 bg-white rounded-full p-2 hover:bg-gray-200">
        ❌
    </button>
    <iframe
        id="document"
        class="w-full h-full border-none"
        frameborder="0"
        allowfullscreen>
    </iframe>
</dialog>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const labels = document.querySelectorAll('label[for$="_id"]');
        console.log(labels);
        labels.forEach(label => {
            const input = document.getElementById(label.htmlFor);
            if (input) {
                label.classList.add('hidden');
                input.classList.add('hidden');
            }
        });
    });
    document.addEventListener("click", (e) => {
        const target = e.target;
        console.log(target)
      
        // Verifica que sea un botón que deba abrir el PDF
        if (target.matches(".btn-ver-pdf")) {
          const fileUrl = target.dataset.file;
          const iframe = document.getElementById("document");
          const dialog = document.getElementById("dialog");
      
          if (fileUrl && iframe && dialog) {
            iframe.src = fileUrl;
            dialog.showModal();
          }
        }
      
        // Botón de cerrar
        if (target.matches("#closeDialogBtn")) {
          const iframe = document.getElementById("document");
          const dialog = document.getElementById("dialog");
      
          if (iframe && dialog) {
            dialog.close();
            iframe.src = ""; // Limpia el iframe
          }
        }
      });
</script>

