<div class="absolute -top-6 right-0 z-10 group">
    <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
        <div class="flex items-start space-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
            <p class="text-sm text-gray-600">{{ value }}</p>
        </div>
    <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
</div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
</div>