{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
    <!-- <h2 class="text-md font-extrabold text-blue-900 mb-8 text-end">➕ Nueva Pagaduría</h2> -->


    <div class="flex flex-col gap-3 mt-5 h-full bg-white min-h-[500px] p-4
        rounded-xl border-slate-300 border-1 shadow-lg font-sans mx-auto">


        <div class="flex justify-between bg-blue-550 p-2 rounded-2xl w-full text-xs sm:text-sm space-x-1 sm:space-x-2">
            <button
                type="button"
                class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
                data-step="0">
            📄 Observaciones por Rechazo
            </button>
            <button
                type="button"
                class="section-btn flex-1 px-2 sm:px-4 py-2 bg-white text-black font-semibold rounded-xl shadow-md transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
                data-step="1">
                🏢 Datos Generales
            </button>
            <button
                type="button"
                class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
                data-step="2">
                📄 Documentos
            </button>
            <button
                type="button"
                class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
                data-step="3">
            📄 Observacion Nueva
            </button>
        </div>
       
        <div
        id="multiStep"
        class="min-h-[380px] p-2 bg-white border border-slate-300 rounded-xl shadow-lg">
       
        <!-- Sección 1: observaciones de rechazo -->
        <div class="form-step hidden flex-col justify-between items-stretch animate-fade-in">
            <!-- Título -->
            <p class="text-xl text-center font-bold text-[#38407a] mb-4">🗂️ Observaciones Registradas</p>


            <!-- Alerta de rechazo-->
            {% if observaciones %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-6 py-4 rounded-lg mb-6 text-base font-bold shadow-md">
                ❌ Esta pagaduría fue rechazada por el área de <span class="underline">{{ observaciones.0.area }}</span>.
            </div>
            {% endif %}
       




            <!-- Contenedor de tarjetas en una sola columna -->
            <div class="grid grid-cols-1 gap-4">
                {% for ob in observaciones %}
                    <div class="bg-white text-[#1e2a47] p-4 rounded-xl shadow border border-slate-300 flex flex-col space-y-2">
                        <!-- Número de observación -->
                        <div class="text-base font-bold text-[#38407a]">#{{ forloop.counter }} Observación</div>


                        <p class="text-sm text-gray-500">👤 Creado por: <span class="font-medium">{{ ob.creadoPor }}</span></p>
                        <p class="text-sm text-gray-500">📅 Fecha: <span class="font-medium">{{ ob.fecha }}</span></p>
                        <p class="text-base font-semibold bg-slate-100 p-2 rounded">📝 {{ ob.observacion }}</p>
                    </div>
                {% empty %}
                    <p class="col-span-full text-center text-gray-500">No hay observaciones registradas.</p>
                {% endfor %}
            </div>


            <!-- Botón Siguiente -->
            <div class="flex justify-end mt-6">
                <button type="button" class="next-btn text-white bg-[#38407a] px-4 py-2 rounded-lg shadow hover:bg-[#2f3769] transition">
                    Siguiente ➡️
                </button>
            </div>
        </div>




        <!-- Sección 2: Datos de la Empresa -->
        <div class="form-step h-full flex flex-col justify-between items-stretch">
            <div class="flex flex-col gap-8">


                <p class="p-2 w-full text-center text-xl font-bold text-[#38407a]">🏢  Pagaduria</p>
                <!-- Datos de la Empresa -->
                <div class="p-4 bg-white rounded-xl shadow-md text-white border border-slate-300">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Pagaduría:</p>
                            <p class="text-base font-bold">{{ pagaduria.nombre }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Razón Social:</p>
                            <p class="text-base font-bold">{{ pagaduria.razonSocial }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> NIT:</p>
                            <p class="text-base font-bold">{{ pagaduria.nit }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Sigla:</p>
                            <p class="text-base font-bold">{{ pagaduria.sigla }}</p>
                        </div>
                    </div>
                </div>
       
                <!-- Título -->
                <p class="p-2 w-full text-center text-xl font-bold text-[#38407a]">📌 Datos Generales</p>
       
                <!-- Datos Generales -->
                <div class="p-4 bg-white rounded-xl shadow-md text-white border border-slate-300">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Tipo de Empresa:</p>
                            <p class="text-base font-bold">{{ pagaduria.tipoEmpresa }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Actividad Económica:</p>
                            <p class="text-base font-bold">{{ pagaduria.actividadEconomica }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Departamento:</p>
                            <p class="text-base font-bold">{{ pagaduria.departamento }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Ciudad:</p>
                            <p class="text-base font-bold">{{ pagaduria.ciudad }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Dirección:</p>
                            <p class="text-base font-bold">{{ pagaduria.direccion }}</p>
                        </div>
                    </div>
                </div>
                <!-- Título -->
                <p class="p-2 w-full text-center text-xl font-bold text-[#38407a]">👤 Representante Legal</p>
       
                <!-- Representante Legal -->
                <div class="p-4 bg-white rounded-xl shadow-md text-white border border-slate-300">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Nombre:</p>
                            <p class="text-base font-bold">{{ pagaduria.nombreRepresentante }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Número Documento:</p>
                            <p class="text-base font-bold">{{ pagaduria.numeroCedulaRepresentante }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Correo:</p>
                            <p class="text-base font-bold">{{ pagaduria.correoRepresentante }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Celular:</p>
                            <p class="text-base font-bold">{{ pagaduria.telefono }}</p>
                        </div>
                        <div class="flex flex-col items-start p-4 bg-white text-black  rounded-lg shadow-md hover:shadow-xl transition duration-300">
                            <p class="text-sm font-semibold opacity-80"> Cédula:</p>
                            <p
                                id="bt-cedula"
                                data-file="{{ pagaduria.pathCedulaRepresentante }}"
                                data-name="{{ pagaduria.nombre }}"
                                class="mt-1 bg-blue-750 text-black font-semibold rounded-lg px-3 py-1 hover:bg-blue-750 hover:shadow cursor-pointer transition">
                                🔍 Ver Cédula
                            </p>
                        </div>
                    </div>
                </div>
            </div>
       
                <!-- Botón Siguiente -->
                <div class="flex justify-between mt-8">
                    <button type="button" class="prev-btn ">
                        ⬅️ Anterior
                    </button>
                    <button type="button" class="next-btn text-white bg-[#38407a] px-4 py-2 rounded-lg shadow hover:bg-[#2f3769] transition">
                        Siguiente ➡️
                    </button>
                </div>
            </div>








        <!-- Sección 3: Documentos -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-lg shadow-md hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">📄 Convenio</p>
                <p
                id="bt-convenio"
                data-file="{{ pagaduria.pathConvenio }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Convenio
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">📝 Formulario de Vinculación</p>
                <p
                id="bt-formulariovinculacion"
                data-file="{{ pagaduria.pathFormulariovinculacion }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Formulario
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">✒️ Tarjeta de Firmas</p>
                <p
                id="bt-tarjetasFirma"
                data-file="{{ pagaduria.pathTarjetasFirma }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Tarjeta de Firmas
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">📑 RUT</p>
                <p
                id="bt-rut"
                data-file="{{ pagaduria.pathRut }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver RUT
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">🏢 Cámara de Comercio</p>
                <p
                id="bt-camara"
                data-file="{{ pagaduria.pathCamaraComercio }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Cámara de Comercio
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">📊 Estados Financieros</p>
                <p
                id="bt-estadosFinancieros"
                data-file="{{ pagaduria.pathEstadosFinancieros }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Estados Financieros
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">💰 Declaración de Renta</p>
                <p
                id="bt-declaracionRenta"
                data-file="{{ pagaduria.pathDeclaracionRenta }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Declaración de Renta
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-base font-bold text-slate-900">⚠️ Centrales de Riesgo</p>
                <p
                id="bt-centrales"
                data-file="{{ pagaduria.pathCentrales }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Centrales de Riesgo
                </p>
            </div>
       
            <div class="flex flex-col gap-2 p-5 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <p class="text-sm text-slate-900">👥 Composición Accionaria</p>
                <p
                id="bt-composicionAccionaria"
                data-file="{{ pagaduria.pathComposicionAccionaria }}"
                data-name="{{ pagaduria.nombre }}"
                class="text-blue-600 text-sm font-bold bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded-md cursor-pointer transition">
                Ver Composición Accionaria
                </p>
            </div>
       
            </div>
       
            <!-- Botones de navegación -->
            <div class="flex justify-between mt-8">
            <button type="button" class="prev-btn ">
                ⬅️ Anterior
            </button>
            <button type="button" class="next-btn ">
                Siguiente ➡️
            </button>
            </div>
        </div>


        <!-- Sección 4: Observacion Nueva -->
        <form
            method="post"
            enctype="multipart/form-data"
            class="form-step hidden h-full flex-col justify-between items-stretch">


            {% csrf_token %}


            <!-- Título del formulario -->
            <p class="w-full text-center text-xl font-bold text-[#38407a] mb-4"> 👤 Observación Asesor </p>


            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-white p-6 rounded-xl border border-slate-300 shadow text-white ">


                <!-- Observación Riesgos -->
                <div class="flex flex-col mt-2 relative text-center">
                    {{ formObservacion.observacion|add_class:"peer bg-white text-black border border-gray-300 p-5 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-[#2f3769]" }}
                    <label class="text-sm font-semibold mt-2 text-[#38407a]">📝 Observación Asesor:</label>
                </div>
            </div>


            <!-- Botones -->
            <div class="flex justify-between mt-6">
                <button type="button"
                    class="prev-btn bg-gray-200 hover:bg-gray-300 text-[#38407a] font-semibold py-2 px-4 rounded-lg shadow transition">
                    ⬅️ Anterior
                </button>
                <button type="submit"
                    class="submit-btn bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow transition">
                    ✅ Enviar
                </button>
            </div>
        </form>


       


    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const steps = document.querySelectorAll(".form-step");
        const sectionButtons = document.querySelectorAll(".section-btn");
        let currentStep = 0;
   
        function showStep(step) {
            steps.forEach((el, index) => {
                el.classList.toggle("hidden", index !== step);
                el.classList.toggle("flex", index === step);
            });
   
            sectionButtons.forEach((btn, index) => {
                if (index === step) {
                    btn.classList.add("bg-white", "text-black", "font-semibold", "rounded-full", "shadow-md");
                    btn.classList.remove("text-white");
                } else {
                    btn.classList.remove("bg-white", "text-black", "font-semibold", "rounded-full", "shadow-md");
                    btn.classList.add("text-white");
                }
            });
        }
   
        sectionButtons.forEach((btn) => {
            btn.addEventListener("click", function () {
                currentStep = parseInt(this.getAttribute("data-step"));
                showStep(currentStep);
            });
        });
   
        document.querySelectorAll(".next-btn").forEach((btn) => {
            btn.addEventListener("click", function () {
                if (currentStep < steps.length - 1) {
                    currentStep++;
                    showStep(currentStep);
                }
            });
        });
   
        document.querySelectorAll(".prev-btn").forEach((btn) => {
            btn.addEventListener("click", function () {
                if (currentStep > 0) {
                    currentStep--;
                    showStep(currentStep);
                }
            });
        });
   
        showStep(currentStep);
    });    
    const buttonCedula = document.getElementById('bt-cedula');
    const buttonConvenio = document.getElementById('bt-convenio');
    const buttonFormulariovinculacion = document.getElementById('bt-formulariovinculacion');
    const buttonTarjetasFirma = document.getElementById('bt-tarjetasFirma');
    const buttonRut = document.getElementById('bt-rut');
    const buttonCamara = document.getElementById('bt-camara');
    const buttonEstadosFinancieros = document.getElementById('bt-estadosFinancieros');
    const buttonDeclaracionRenta = document.getElementById('bt-declaracionRenta');
    const buttonCentrales = document.getElementById('bt-centrales');
    const buttonComposicionAccionaria = document.getElementById('bt-composicionAccionaria');
    const dialog = document.getElementById('cedulaDialog');
    const iframe = document.getElementById('cedulaViewer');
    const closeBtn = document.getElementById('closeDialogBtn');


    buttonCedula.addEventListener('click', () => {
        const fileUrl = buttonCedula.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
   
    buttonConvenio.addEventListener('click', () => {
        const fileUrl = buttonConvenio.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonFormulariovinculacion.addEventListener('click', () => {
        const fileUrl = buttonFormulariovinculacion.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonTarjetasFirma.addEventListener('click', () => {
        const fileUrl = buttonTarjetasFirma.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonRut.addEventListener('click', () => {
        const fileUrl = buttonRut.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonCamara.addEventListener('click', () => {
        const fileUrl = buttonCamara.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonEstadosFinancieros.addEventListener('click', () => {
        const fileUrl = buttonEstadosFinancieros.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonDeclaracionRenta.addEventListener('click', () => {
        const fileUrl = buttonDeclaracionRenta.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonCentrales.addEventListener('click', () => {
        const fileUrl = buttonCentrales.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    buttonComposicionAccionaria.addEventListener('click', () => {
        const fileUrl = buttonComposicionAccionaria.dataset.file;
        iframe.src = fileUrl;
        dialog.showModal();
    });
    // Cerrar el diálogo y limpiar el iframe al hacer clic en el botón de cerrar


    closeBtn.addEventListener('click', () => {
        dialog.close();
        iframe.src = ""; // Limpia para evitar que siga cargando
    });


</script>
{% endblock %}

