{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <!-- <h2 class="text-md font-extrabold text-blue-900 mb-8 text-end">➕ Nueva Pagaduría</h2> -->

    <div class="flex flex-col gap-3 mt-5 h-full bg-white min-h-[500px] p-4
        rounded-xl border-scale-600 border-1 shadow-lg font-sans mx-auto">

        <div class="flex justify-between bg-blue-550 p-2 rounded-2xl w-full text-xs sm:text-sm space-x-1 sm:space-x-2">
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 bg-white text-black font-semibold rounded-xl shadow-md transition-all duration-300 ease-in-out rounded-full whitespace-nowrap overflow-hidden text-ellipsis" data-step="0">
                🏢 Datos Generales
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="1">
                👥 Empleados
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="2">
                👤 Representante
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="3">
                👤 Visación
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="4">
                👤 Encargado Visación
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="5">
                📦 Encargado Envíos
            </button>
            <button type="button" class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis" data-step="6">
                📄 Documentos
            </button>
        </div>
        
    <form
        method="POST"
        id="multiStepForm"
        enctype="multipart/form-data"
        class="min-h-[380px] h-auto p-6 bg-white border border-blue-550 rounded-xl shadow-lg">

        {% csrf_token %}

        <!-- Sección 1: Datos de la Empresa -->
        <div class="form-step h-full flex flex-col justify-between items-stretch">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
                <div class="flex flex-col mt-5 relative">
                    {{ form.nombre|add_class:"peer input-field placeholder-transparent" }}
                    {{ form.nombre.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.razonSocial|add_class:"peer input-field" }}
                    {{ form.razonSocial.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.sigla|add_class:"peer input-field" }}
                    {{ form.sigla.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.nit|add_class:"peer input-field" }}
                    {{ form.nit.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.tipoEmpresa|add_class:"peer input-field" }}
                    {{ form.tipoEmpresa.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.actividadEconomica|add_class:"peer input-field" }}
                    {{ form.actividadEconomica.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <select name="departamento" id="id_departamento" class="peer input-field">
                        <option value="">-- Seleccion Departamento --</option>
                        {% for dep in departamentos %}
                            <option value="{{ dep }}">{{ dep }}</option>
                        {% endfor %}
                    </select>  
                    {{ form.departamento.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <select name="ciudad" id="id_ciudad" class="peer input-field">
                        <option value="">-- Seleccion Ciudad --</option>
                        {% for city in ciudades %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>  
                    {{ form.ciudad.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.direccion|add_class:"peer input-field" }}
                    {{ form.direccion.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-end mt-6">
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 2: Datos de Empleados -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            {{ sucursales.management_form }}
            <div id="sucursales-forms" class="border-2 border-blue-450 rounded-lg flex flex-col overflow-hidden shadow-lg">
                <!-- Encabezado de la tabla -->
                <div class="flex flex-row justify-between bg-blue-450 text-white p-3 font-semibold text-sm uppercase tracking-wide">
                    <p class="flex-1 text-center">Sucursal</p>
                    <p class="flex-1 text-center">Total Empleados</p>
                    <p class="flex-1 text-center">Indefinidos</p>
                    <p class="flex-1 text-center">Fijos</p>
                    <p class="flex-1 text-center">Obra Labor</p>
                    <p class="flex-1 text-center">Otros</p>
                    <p class="flex-1 text-center">1 a 2 SMLV</p>
                    <p class="flex-1 text-center">2 a 4 SMLV</p>
                    <p class="flex-1 text-center">Más de 4 SMLV</p>
                </div>
                <!-- Filas dinámicas -->
                {% for form in sucursales %}
                <div class="flex flex-row justify-between p-3 text-sm {{ forloop.counter|divisibleby:2|yesno:'bg-gray-100,bg-white' }} hover:bg-gray-200 transition-colors duration-200">
                    <p class="flex-1 text-center truncate">{{ form.nombreSucursale }}</p>
                    <p class="flex-1 text-center truncate">{{ form.totalEmpleados }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosIndefinidos }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosFijo }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosObraLabor }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosOtros }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosSalario1y2 }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosSalario2y4 }}</p>
                    <p class="flex-1 text-center truncate">{{ form.empleadosSalariomax4 }}</p>
                    <p class="flex-1 text-center">
                        <button type="button" class="text-red-500 hover:text-red-700 font-medium hover:underline transition-colors duration-200">Eliminar</button>
                    </p>
                </div>
                {% endfor %}
            </div>
            <button
                type="button"
                id="add-sucursal-form"
                >
                Agregar Sucursal
            </button>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 3: Datos del Representante -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col mt-5 relative">
                    {{ form.nombreRepresentante|add_class:"peer input-field" }}
                    {{ form.nombreRepresentante.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.cedulaRepresentante|add_class:"peer input-field" }}
                    {{ form.cedulaRepresentante.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.correoRepresentante|add_class:"peer input-field" }}
                    {{ form.correoRepresentante.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.telefono|add_class:"peer input-field" }}
                    {{ form.telefono.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.numeroCedulaRepresentante|add_class:"peer input-field" }}
                    {{ form.numeroCedulaRepresentante.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 4: Datos Pagaduria Visacion -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col mt-5 relative">
                    {{ form.visacionLibranza|add_class:"peer input-field" }}
                    {{ form.visacionLibranza.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.visacionMedio|add_class:"peer input-field" }}
                    {{ form.visacionMedio.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.maxDescuentoNomina|add_class:"peer input-field" }}
                    {{ form.maxDescuentoNomina.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.fechaMaxEnvioCuentaCobro|add_class:"peer input-field" }}
                    {{ form.fechaMaxEnvioCuentaCobro.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 5: Datos Encargado Visacion -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoVisacionNombre|add_class:"peer input-field" }}
                    {{ form.encargadoVisacionNombre.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoVisacionCargo|add_class:"peer input-field" }}
                    {{ form.encargadoVisacionCargo.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoVisacionCorreo|add_class:"peer input-field" }}
                    {{ form.encargadoVisacionCorreo.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoVisacionTelefono|add_class:"peer input-field" }}
                    {{ form.encargadoVisacionTelefono.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoVisacionDireccion|add_class:"peer input-field" }}
                    {{ form.encargadoVisacionDireccion.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 5: Datos Encargado Envios -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoEnvioCuentaNombre|add_class:"peer input-field" }}
                    {{ form.encargadoEnvioCuentaNombre.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoEnvioCuentaCargo|add_class:"peer input-field" }}
                    {{ form.encargadoEnvioCuentaCargo.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoEnvioCuentaCorreo|add_class:"peer input-field" }}
                    {{ form.encargadoEnvioCuentaCorreo.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoEnvioCuentaTelefono|add_class:"peer input-field" }}
                    {{ form.encargadoEnvioCuentaTelefono.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    {{ form.encargadoEnvioCuentaDireccion|add_class:"peer input-field" }}
                    {{ form.encargadoEnvioCuentaDireccion.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="button" class="next-btn">Siguiente ➡️</button>
            </div>
        </div>

        <!-- Sección 6: Documentos -->
        <div class="form-step hidden h-full flex-col justify-between items-stretch">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Documento de convenio firmado entre la pagaduría y Coovitel</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.convenio|add_class:"peer input-field" }}
                    {{ form.convenio.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-20 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Formulario de vinculación completamente diligenciado y firmado</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.formulariovinculacion|add_class:"peer input-field" }}
                    {{ form.formulariovinculacion.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Tarjetas de firmas autorizadas para los procesos de libranza</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.tarjetasFirma|add_class:"peer input-field" }}
                    {{ form.tarjetasFirma.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">RUT actualizado de la empresa (no mayor a 30 días)</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.rut|add_class:"peer input-field" }}
                    {{ form.rut.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Certificado de Cámara de Comercio actualizado (no mayor a 30 días)</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.camaraComercio|add_class:"peer input-field" }}
                    {{ form.camaraComercio.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Estados financieros de los últimos 2 años</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.estadosFinancieros|add_class:"peer input-field" }}
                    {{ form.estadosFinancieros.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Declaración de renta del último año gravable</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.declaracionRenta|add_class:"peer input-field" }}
                    {{ form.declaracionRenta.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Consulta en centrales de riesgo (no mayor a 30 días)</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.centrales|add_class:"peer input-field" }}
                    {{ form.centrales.label_tag|safe }}
                </div>
                <div class="flex flex-col mt-5 relative">
                    <div class="absolute -top-6 right-0 z-10 group">
                        <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white border border-blue-550 shadow-lg p-3 rounded-lg absolute z-20 w-72 -top-14 right-0 transition-all duration-300">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 mt-0.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <p class="text-sm text-gray-600">Documento Composicion accionaria emitida por el revisor fiscal</p>
                            </div>
                            <div class="absolute -bottom-2 right-4 w-4 h-4 bg-white border-b border-r border-blue-550 transform rotate-45"></div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-550 cursor-help" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    {{ form.composicionAccionaria|add_class:"peer input-field" }}
                    {{ form.composicionAccionaria.label_tag|safe }}
                </div>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="prev-btn">⬅️ Anterior</button>
                <button type="submit" class="submit-btn">✅ Crear Pagaduría</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('add-sucursal-form').onclick = function() {
        // Obtener el número de formularios actuales
        var formIdx = document.querySelectorAll('#sucursales-forms .form-row').length; 
    
        // Crear un nuevo div contenedor del formulario
        var newForm = document.createElement('div');
        newForm.classList.add('form-row', 'flex', 'flex-row', 'justify-between'); // Asegurar que se asigna correctamente la clase
    
        // Obtener el HTML del formulario vacío y reemplazar __prefix__ con el índice actual
        var newFormHtml = `{{ sucursales.empty_form.as_p|escapejs }}`;
        newFormHtml = newFormHtml.replace(/__prefix__/g, formIdx);
    
        // Asignar el HTML al nuevo formulario
        newForm.innerHTML = newFormHtml;
    
        // Agregar el nuevo formulario al contenedor
        document.getElementById('sucursales-forms').appendChild(newForm);
    
        // Actualizar el campo TOTAL_FORMS
        var totalFormsInput = document.querySelector('[name="sucursales-TOTAL_FORMS"]');
        totalFormsInput.value = formIdx + 1;  // Se usa formIdx porque ya cuenta los existentes correctamente
    };
    
    document.addEventListener("DOMContentLoaded", function () {
        const steps = document.querySelectorAll(".form-step");
        const sectionButtons = document.querySelectorAll(".section-btn");
        let currentStep = 0;
    
        function showStep(step) {
            steps.forEach((el, index) => {
                el.classList.toggle("hidden", index !== step);
                el.classList.toggle("flex", index === step);
            });
    
            sectionButtons.forEach((btn, index) => {
                if (index === step) {
                    btn.classList.add("bg-white", "text-black", "font-semibold", "rounded-full", "shadow-md");
                    btn.classList.remove("text-white");
                } else {
                    btn.classList.remove("bg-white", "text-black", "font-semibold", "rounded-full", "shadow-md");
                    btn.classList.add("text-white");
                }
            });
        }
    
        sectionButtons.forEach((btn) => {
            btn.addEventListener("click", function () {
                currentStep = parseInt(this.getAttribute("data-step"));
                showStep(currentStep);
            });
        });
    
        document.querySelectorAll(".next-btn").forEach((btn) => {
            btn.addEventListener("click", function () {
                if (currentStep < steps.length - 1) {
                    currentStep++;
                    showStep(currentStep);
                }
            });
        });
    
        document.querySelectorAll(".prev-btn").forEach((btn) => {
            btn.addEventListener("click", function () {
                if (currentStep > 0) {
                    currentStep--;
                    showStep(currentStep);
                }
            });
        });
    
        showStep(currentStep);
    });

    selectDepartment = document.getElementById('id_departamento')
    selectDepartment.addEventListener('')
</script>
{% endblock %}