{% load static %}

<nav class="fixed top-0 left-0 w-full bg-gradient-to-r from-blue-450 to-blue-650 shadow-md p-4 flex justify-between items-center text-gray-100 z-50 font-sans">
    <a class="flex flex-row justify-center items-center gap-4" href="{% url 'administrador' %}">
        <img src="{% static 'img/logoColorSmall.png' %}" alt="Logo" class="w-auto h-12 animate-fade-in">
        <h1 class="text-2xl">App Pagadurías</h1>
    </a>
    {% if request.user.is_authenticated %}
        <div class="flex space-x-72">
            <a href="#" class="flex items-center gap-3 bg-blue-450 p-2 rounded-lg transition duration-300 hover:bg-blue-550 hover:shadow-md text-sm">
                <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">➕</span>
                <span>Nueva Pagaduría</span>
            </a>
            <a href="#" class="flex items-center gap-3 bg-blue-450 p-2 rounded-lg transition duration-300 hover:bg-blue-550 hover:shadow-md text-sm">
                <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">📅</span>
                <span>Programar Cita</span>
            </a>
        </div>
    {% endif %}
    <div class="text-sm font-medium pr-6">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="hover:underline">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}" class="hover:underline">Iniciar Sesión</a>
        {% endif %}
    </div>
</nav>