{% load static %}

<nav class="fixed z-20 top-0 w-[83%] bg-gradient-to-r from-blue-450 to-blue-650 shadow-md p-4 flex justify-between items-center text-gray-100 font-sans">

    <div class="flex space-x-72">
        {% if request.user.is_authenticated and request.user.checkForTI %}
            <a href="{% url 'createPagaduria' %}" class="flex items-center gap-3 p-2 rounded-lg transition duration-300 text-sm 
                    {% if request.path == '/createPagaduria/' %}bg-blue-550 shadow-md{% else %}bg-blue-450 hover:bg-blue-550 hover:shadow-md{% endif %}">
                <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">➕</span>
                <span>Nueva Pagaduría</span>
            </a>
            <a href="{% url 'programar_cita' %}" 
            class="flex items-center gap-3 p-2 rounded-lg transition duration-300 text-sm 
                    {% if request.path == '/programar_cita/' %}bg-blue-550 shadow-md{% else %}bg-blue-450 hover:bg-blue-550 hover:shadow-md{% endif %}">
                <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">📅</span>
                <span>Programar Cita</span>
            </a>
        {% endif %}
    </div>
    <div class="text-sm font-medium pr-6">
        <p>{{ request.user.get_full_name }}</p>
        <p>{{ request.user.area}}</p>
        {% if request.user.is_authenticated and request.user.checkForTI %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Cerrar sesión</button>
          </form>
        {% elif not request.user.checkForTI and request.user.is_authenticated %}
            <p class="hover:underline">Esperar Autorización</p>
        {% else %}
            <a href="{% url 'login' %}" class="hover:underline">Iniciar Sesión</a>
        {% endif %}
    </div>
</nav>