<nav class="fixed top-0 left-0 w-full bg-gradient-to-r from-blue-450 to-blue-650 shadow-md p-4 flex justify-between items-center text-gray-100 z-50 font-sans">
    <a href="{% url 'administrador' %}">
        <div class="text-2xl font-bold pl-6">App Pagadurías</div>
    </a>
    <div class="flex space-x-72">
        <a href="#" class="flex items-center gap-3 bg-blue-450 p-2 rounded-lg transition duration-300 hover:bg-blue-550 hover:shadow-md text-sm">
            <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">➕</span>
            <span>Nueva Pagaduría</span>
        </a>
        <a href="#" class="flex items-center gap-3 bg-blue-450 p-2 rounded-lg transition duration-300 hover:bg-blue-550 hover:shadow-md text-sm">
            <span class="w-6 h-6 bg-white rounded-full flex items-center justify-center text-blue-450">📅</span>
            <span>Programar Cita</span>
        </a>
    </div>
    <div class="text-sm font-medium pr-6">Usuario</div>
</nav>