{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="flex flex-col gap-3 p-5 select-none">
  <div
    class="flex justify-between bg-blue-550 p-2 rounded-2xl w-full text-xs sm:text-sm space-x-1 sm:space-x-2"
  >
    <button
      type="button"
      class="section-btn flex-1 px-2 sm:px-4 py-2 bg-white text-black font-semibold shadow-md transition-all duration-300 ease-in-out rounded-full whitespace-nowrap overflow-hidden text-ellipsis"
      data-step="0"
    >
      🏢 Datos Generales
    </button>
    <button
      type="button"
      class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
      data-step="1"
    >
      📄 Documentos
    </button>
    <button
      type="button"
      class="section-btn flex-1 px-2 sm:px-4 py-2 text-white rounded-xl transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden text-ellipsis"
      data-step="2"
    >
      📄 Observación
    </button>
  </div>

  <div
    id="multiStep"
    class="min-h-[380px] p-2 bg-white border border-blue-550 rounded-xl shadow-lg flex flex-col justify-between"
  >
    <!-- Sección 1: Datos de la Empresa -->
    <div class="form-step h-full flex flex-col justify-between items-stretch">

      <div class="flex flex-col gap-4">
        <details class="bg-blue-100/50 rounded-md border cursor-pointer">
          <summary
            class="p-2 w-full text-left text-xl font-bold text-[#38407a]"
          >
            🏢 Pagaduria
          </summary>
          <!-- Datos de la Empresa -->
          <div
            class="p-4 rounded-xl text-white"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
              {% include "components/card_details_check.html" with label="Pagaduria:" value=pagaduria.nombre %}
              {% include "components/card_details_check.html" with label="Razon Social:" value=pagaduria.razonSocial %}
              {% include "components/card_details_check.html" with label="NIT:" value=pagaduria.nit %}
              {% include "components/card_details_check.html" with label="Sigla:" value=pagaduria.sigla %}
            </div>
          </div>
        </details>

        <!-- Título -->
        <details class="bg-blue-100/50 rounded-md border cursor-pointer">
          <summary
            class="p-2 w-full text-left text-xl font-bold text-[#38407a]"
          >
            📌 Datos Generales
          </summary>
          <!-- Datos Generales -->
          <div
            class="p-4 bg-white text-whit"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              {% include "components/card_details_check.html" with label="Tipo de Empresa:" value=pagaduria.tipoEmpresa %}
              {% include "components/card_details_check.html" with label="Actividad Económica:" value=pagaduria.actividadEconomica%}
              {% include "components/card_details_check.html" with label="Departamento:" value=pagaduria.departamento %}
              {% include "components/card_details_check.html" with label="Ciudad:" value=pagaduria.ciudad %}
              {% include "components/card_details_check.html" with label="Dirección:" value=pagaduria.direccion %}
            </div>
          </div>
        </details>
        <!-- Título -->

        <details class="bg-blue-100/50 rounded-md border cursor-pointer">
          <summary
            class="p-2 w-full text-left text-xl font-bold text-[#38407a]"
          >
            👤 Representante Legal
          </summary>
          <!-- Representante Legal -->
          <div
            class="p-4 text-white"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              {% include "components/card_details_check.html" with label="Nombre Representante:" value=pagaduria.nombreRepresentante %}
              {% include "components/card_details_check.html" with label="Numero Documento:" value=pagaduria.numeroCedulaRepresentante %}
              {% include "components/card_details_check.html" with label="Correo:" value=pagaduria.correoRepresentante %}
              {% include "components/card_details_check.html" with label="Celular:" value=pagaduria.telefono %}
              {% include "components/card_document_check.html" with label="Cédula:" value="Ver Cédula" id="bt-cedula" file=pagaduria.pathCedulaRepresentante name=pagaduria.nombre %}
            </div>
          </div>
        </details>
      </div>

      <!-- Botón Siguiente -->
      <div class="flex justify-end mt-6">
        <button
          type="button"
          class="next-btn text-white bg-[#38407a] px-4 py-2 rounded-lg shadow hover:bg-[#2f3769] transition"
        >
          Siguiente ➡️
        </button>
      </div>
    </div>

    <!-- Sección 2: Documentos -->
    <div class="form-step hidden h-full flex-col justify-between items-stretch">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% include "components/card_document_check.html" with label="📄 Convenio:" value="Ver Convenio" id="bt-convenio" file=pagaduria.pathConvenio name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="📝 Formulario de Vinculación:" value="Ver Formulario" id="bt-formulariovinculacion" file=pagaduria.pathFormulariovinculacion name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="✒️ Tarjeta de Firmas:" value="Ver Tarjeta de Firmas" id="bt-tarjetasFirma" file=pagaduria.pathTajetasfirma name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="📑 RUT:" value="Ver RUT" id="bt-rut" file=pagaduria.pathRut name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="🏢 Cámara de Comercio:" value="Ver Cámara de Comercio" id="bt-camara" file=pagaduria.pathCamaraComercio name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="📊 Estados Financieros:" value="Ver Estados Financieros" id="bt-estadosFinancieros" file=pagaduria.pathEstadosFinancieros name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="💰 Declaración de Renta:" value="Ver Declaración de Renta" id="bt-declaracionRenta" file=pagaduria.pathDeclaracionRenta name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="⚠️ Centrales de Riesgo:" value="Ver Centrales de Riesgo" id="bt-centrales" file=pagaduria.pathCentrales name=pagaduria.nombre %}
        {% include "components/card_document_check.html" with label="👥 Composición Accionaria:" value="Ver Composición Accionaria" id="bt-composicionAccionaria" file=pagaduria.pathComposicionAccionaria name=pagaduria.nombre %}
      </div>

      <!-- Botones de navegación -->
      <div class="flex justify-between mt-8">
        <button type="button" class="prev-btn">⬅️ Anterior</button>
        <button type="button" class="next-btn">Siguiente ➡️</button>
      </div>
    </div>

    <!-- Sección 3: Observaciones -->
    <form
      method="post"
      enctype="multipart/form-data"
      class="form-step hidden h-full flex-col justify-between items-stretch"
    >
      {% csrf_token %}
      <div class="flex flex-col justify-center items-center">
        <p>Observaciones Previas</p>
        {% for observacion in observacionesPrevias %}
        <div class="flex flex-row justify-between">
          <p>{{ observacion.creadoPor }}</p>
          <p>{{ observacion.fecha }}</p>
          <p>{{ observacion.observacion }}</p>
        </div>          
        {% endfor %}
      </div>
      <!-- Título del formulario -->
      <p class="w-full text-center text-xl font-bold text-[#38407a] mb-4">
        📝 Evaluación Financiera
      </p>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-[#38407a] p-6 rounded-xl border border-[#2f3769] shadow text-white">

                <!-- Observación -->
                <div class="flex flex-col mt-2 relative">
                    {{ formObservacion.observacion|add_class:"peer input-field bg-white text-black p-3 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-[#2f3769]" }}
                    <label class="text-sm font-semibold mt-2">🗨️ Observación:</label>
                </div>

        <!-- Score financiero -->
        <div class="flex flex-col mt-2 relative">
          {{ form.scoreFinanciero|add_class:"peer input-field bg-white text-black p-3 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-[#2f3769]" }}
          <label class="text-sm font-semibold mt-2">📊 Score Financiero:</label>
        </div>

        <!-- Estado financiero -->
        <div class="flex flex-col mt-2 relative">
          {{ form.estadoFinanciero|add_class:"peer input-field bg-white text-black p-3 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-[#2f3769]" }}
          <label class="text-sm font-semibold mt-2"
            >📈 Estado Financiero:</label
          >
        </div>
      </div>

      <!-- Botones -->
      <div class="flex justify-between mt-6">
        <button type="button" class="prev-btn">⬅️ Anterior</button>
        <button type="submit" class="submit-btn">✅ Enviar</button>
      </div>
    </form>
  </div>
  <dialog id="dialog" class="w-screen h-screen">
    <button
      id="closeDialogBtn"
      class="absolute top-3 right-6 z-50 w-32 bg-white rounded-full p-2 hover:bg-gray-200"
    >
      ❌
    </button>
    <iframe
      id="document"
      class="w-full h-full border-none"
      frameborder="0"
      allowfullscreen
    >
    </iframe>
  </dialog>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const steps = document.querySelectorAll(".form-step");
    const sectionButtons = document.querySelectorAll(".section-btn");
    let currentStep = 0;

    function showStep(step) {
      steps.forEach((el, index) => {
        el.classList.toggle("hidden", index !== step);
        el.classList.toggle("flex", index === step);
      });

      sectionButtons.forEach((btn, index) => {
        if (index === step) {
          btn.classList.add(
            "bg-white",
            "text-black",
            "font-semibold",
            "rounded-full",
            "shadow-md"
          );
          btn.classList.remove("text-white");
        } else {
          btn.classList.remove(
            "bg-white",
            "text-black",
            "font-semibold",
            "rounded-full",
            "shadow-md"
          );
          btn.classList.add("text-white");
        }
      });
    }

    sectionButtons.forEach((btn) => {
      btn.addEventListener("click", function () {
        currentStep = parseInt(this.getAttribute("data-step"));
        showStep(currentStep);
      });
    });

    document.querySelectorAll(".next-btn").forEach((btn) => {
      btn.addEventListener("click", function () {
        if (currentStep < steps.length - 1) {
          currentStep++;
          showStep(currentStep);
        }
      });
    });

    document.querySelectorAll(".prev-btn").forEach((btn) => {
      btn.addEventListener("click", function () {
        if (currentStep > 0) {
          currentStep--;
          showStep(currentStep);
        }
      });
    });

    showStep(currentStep);
  });

  document.addEventListener("click", (e) => {
    const target = e.target;
  
    // Verifica que sea un botón que deba abrir el PDF
    if (target.matches(".btn-ver-pdf")) {
      const fileUrl = target.dataset.file;
      const iframe = document.getElementById("document");
      const dialog = document.getElementById("dialog");
  
      if (fileUrl && iframe && dialog) {
        iframe.src = fileUrl;
        dialog.showModal();
      }
    }
  
    // Botón de cerrar
    if (target.matches("#closeDialogBtn")) {
      const iframe = document.getElementById("document");
      const dialog = document.getElementById("dialog");
  
      if (iframe && dialog) {
        dialog.close();
        iframe.src = ""; // Limpia el iframe
      }
    }
  });
</script>
{% endblock %}
